

.swiper_container {
  width: 100%; /* Make the container take full width of its parent */
  height: 100vh; /* Set a default height, adjust as needed */
  position: relative;
  padding: 0;
}

.swiper-slide {
  width: 30%; /* Make sure slides are responsive */
  height: auto; /* Adjust height as needed */
  display: flex; /* Use flexbox to center content within slides */
  align-items: center;
  justify-content: center;
}


.swiper-button-next,
.swiper-button-prev {
  background: var(--black);
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
}

.swiper-button-next {
  right: 10px;
}

.swiper-button-prev {
  left: 10px;
}

.swiper-pagination {
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
}

.swiper-pagination-bullet {
  background: #797979;
  width: 10px;
  height: 10px;
  filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
}

.swiper-pagination-bullet-active {
  background: var(--primary);
}
@media (max-width: 1200px) {
  .swiper_container {
    height: 45rem; /* Adjust the height for medium screens */
  }
  .swiper-slide {
    width: 40%; /* Ensure slides take full width of the container */
  }

}

@media (max-width: 768px) {
  .swiper_container {
    height: 100vh; /* Adjust the height for smaller screens */
  }
  .swiper-slide {
    width: 100%; /* Ensure slides take full width of the container */
  }
}

@media (max-width: 500px) {
  .swiper_container {
    width: 100vw;
    height: 100vh;/* Further adjust height for very small screens */
  }
  .swiper-slide {
    width: 100%; /* Ensure slides fit within smaller screen widths */
  }
}
.mem-container{
  /* background-color:#262d38; */
  height: 100vh;
}