/* Importing Google Font */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');



/* Navbar styling */
.navbar-main {
    background: rgba(0, 0, 0, 0.3);
    position: absolute; /* Ensures it's above the content */
    width: 100%;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    z-index: 1000; /* Ensure it is above other content */
    color: white;
    border-color: brown;
    border-width: 30px;
    transition: all 0.3s ease; /* Smooth transition */
}

/* Navbar will overlap the next component */
.navbar-main.visible {
    top: 0;
}

.nav-list {
    z-index: 2;
    list-style-type: none;
    display: flex;
    gap: 10px;
    justify-content: space-evenly;
}

@keyframes enlargeAndBlur {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.2);
    }
}
.main-heading{
    color: white;
}
.main-heading:hover{
    color: white;
    animation: enlargeAndBlur 0.3s forwards;

}
li {
    font-size: large;
}

/* Default state for .nav-list-ele */
.nav-list-ele {
    text-decoration: none;
    padding-bottom: 2%;
    transition: all 0.3s ease;
    color: white; /* Ensure default color is white */
    padding-bottom: 2%;
}

/* Hover state with animation */
.nav-list-ele:hover {
    animation: enlargeAndBlur 0.3s forwards;
}

/* Override Bootstrap's default styles for links */
.navbar-main .nav-link {
    color: white !important; /* Ensures link color is white */
    transition: color 0.3s ease; /* Smooth transition for color changes */
}

/* Ensure active, focus, and hover states are handled */
.navbar-main .nav-link.active,
.navbar-main .nav-link:focus,
.navbar-main .nav-link:hover {
    color: white !important; /* Override Bootstrap's active, focus, and hover color */
    background-color: transparent !important; /* Ensure background color does not interfere */
}
