/* Projects.css */

.project-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to bottom, black, rgb(34, 0, 56));
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  overflow: hidden; 
}
.project-text{
  color: white;
  font-family: "Lato";
  font-size: xx-large;
}
.container {
  position: relative;
  width: 100vw; 
  height: 100vh; 
  perspective: 1000px;
  overflow: hidden; 
  transform: scale(1.2);
  transform-origin: center; 
}

.carousel {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  animation: rotate360 300s infinite linear; 
}

.carousel__face {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.3); 
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
}

.carousel__text {
  position: absolute;
  bottom: 20px; 
  width: 100%;
  text-align: center;
  color: white; 
  font-size: larger; 
  transform: rotateY(180deg); 
}

span {
  font-size: 2rem;
}

.carousel__face:nth-child(1) { 
  /* background-image: url("https://images.pexels.com/photos/1141853/pexels-photo-1141853.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"); */
  transform: rotateY(0deg) translateZ(1500px); 
  
}
.carousel__face:nth-child(2) { 
  /* background-image: url("https://images.pexels.com/photos/1258865/pexels-photo-1258865.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"); */
  transform: rotateY(72deg) translateZ(1500px); 
}
.carousel__face:nth-child(3) {
  /* background-image: url("https://images.pexels.com/photos/808466/pexels-photo-808466.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"); */
  transform: rotateY(144deg) translateZ(1500px); 
}
.carousel__face:nth-child(4) {
  /* background-image: url("https://images.pexels.com/photos/1394841/pexels-photo-1394841.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"); */
  transform: rotateY(216deg) translateZ(1500px); 
}
.carousel__face:nth-child(5) { 
  /* background-image: url("https://images.pexels.com/photos/969679/pexels-photo-969679.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"); */
  transform: rotateY(288deg) translateZ(1500px); 
}


@keyframes rotate360 {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(-3600deg); 
  }
}
